* {
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#app {
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    border-radius: 10px;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none
}

/* .content-collapse {
    left: 64px !important;
} */

.content-box {
    position: absolute;
    left: 200px;
    right: 0;
    top: 40px;
    bottom: 0;
    padding-bottom: 30px;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background: #f0f0f0;
    border-radius: 0 0 10px 0;
}

.content {
    width: auto;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
    box-sizing: border-box;
}

.content-collapse {
    left: 64px;
}

.container {
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    /* border-radius: 5px; */
}

.crumbs {
    margin: 10px 0;
}

.el-table th {
    background-color: #f5f7fa !important;
}

.pagination {
    margin: 20px 0;
    text-align: right;
}

/* 菜单 */
.el-menu {
    background-color: #fff !important;
}

.el-menu-item {
    color: #222222 !important;
    background: #fff !important;
}

.el-menu-item:hover {
    background-color: #F5F7FA !important;
}

.el-sub-menu__title {
    color: #222222 !important;
    background-color: #fff !important;
}

.el-sub-menu__title:hover {
    background-color: #F5F7FA !important;
}

.el-sub-menu .el-menu-item {
    min-width: 199px !important;
}

.plugins-tips {
    padding: 20px 10px;
    margin-bottom: 20px;
}



.el-button+.el-tooltip {
    margin-left: 5px;
}

.el-button+.el-button {
    margin-left: 5px;
}

.el-table tr:hover {
    background: #f6faff;
}

.mgb20 {
    margin-bottom: 20px;
}

.move-enter-active,
.move-leave-active {
    transition: opacity .1s ease;
}

.move-enter-from,
.move-leave-to {
    opacity: 0;
}

/* 滚动条样式 */
::-webkit-scrollbar {
    width: 12px;
    height: 6px;
}

/* 滚动槽 */
::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 12px;
    background-color: #BDBDBD;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 12px;
    background-color: #BDBDBD;
    -webkit-border-radius: 6px;
}

/* 滚动条鼠标移上去的样式 */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #808080;
}

/*BaseForm*/

.form-box {
    width: 600px;
}

/* tag */
.el-tag.el-tag--danger {
    --el-tag-text-color: #ed5a65 !important;
    --el-tag-border-color: #ed5a65 !important;
}

/* 按钮高度 */
.el-button {
    height: 28px !important;
    --el-button-text-color: var(--el-button-active-border-color);
    --el-button-active-text-color: #1781b5 !important;
    --el-button-active-border-color: #1781b5 !important;
    --el-button-hover-text-color: #1781b5 !important;
    --el-button-hover-border-color: #1781b5 !important;
}

/* 危险按钮 */
.el-button--danger {
    --el-button-hover-text-color: #fff !important;
    --el-button-bg-color: #ed5a65 !important;
    --el-button-border-color: #ed5a65 !important;
    --el-button-hover-bg-color: #f07c82 !important;
    --el-button-hover-border-color: #f07c82 !important;
}

/* 成功按钮 */
.el-button--success {
    --el-button-hover-text-color: #fff !important;
    --el-button-bg-color: #45b787 !important;
    --el-button-border-color: #45b787 !important;
    --el-button-hover-bg-color: #2bae85 !important;
    --el-button-hover-border-color: #2bae85 !important;
}

/* 主要按钮 */
.el-button--primary {
    --el-button-hover-text-color: #fff !important;
    --el-button-bg-color: #1a94bc !important;
    --el-button-border-color: #1a94bc !important;
    --el-button-hover-bg-color: #1781b5 !important;
    --el-button-hover-border-color: #1781b5 !important;
}

/* 分页 */
.el-pagination {
    /* height: 22px !important; */
    --el-pagination-button-height: 22px !important;
}

.el-pagination.is-background .el-pager li:not(.is-disabled).is-active {
    background-color: #1781b5 !important;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
    min-width: 22px !important;
}

/* 弹窗 */
.el-dialog {
    border-radius: 5px !important;
}

.el-dialog .el-dialog__header {
    margin-right: 0px !important;
    background-color: #1781b5;
    padding: 5px 20px 5px 15px;
    border-radius: 5px 5px 0px 0px !important;
}

.el-dialog__title {
    font-size: 16px !important;
}

.el-dialog .el-dialog__title {
    color: #fff;
}

.el-dialog__headerbtn {
    top: 0px !important;
    height: 35px !important;
    width: 35px !important;
}

.el-dialog .el-dialog__headerbtn {
    padding-top: 0px;
}

.el-dialog .el-dialog__headerbtn .el-dialog__close {
    color: #fff;
}

.el-dialog .el-dialog__headerbtn .el-dialog__close:hover {
    color: gray;
}

.form-box .line {
    text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
    margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
    padding-bottom: 0;
}


[class*=" el-icon-"],
[class^=el-icon-] {
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.el-sub-menu [class^=el-icon-] {
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
}

[hidden] {
    display: none !important;
}